Source: cellframe-dashboard
Section: unknown
Priority: optional
Maintainer: Demlabs Support <support@demlabs.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 2.0-13
Homepage: https://cellframe.net

Package: cellframe-dashboard
Architecture: any
Depends: psmisc, menu, ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick-controls, qml-module-qtquick-controls2, qml-module-qtqml-models2
Description: CellFrame Dashboard
 CelLFrame Dashboard



