[Unit]
Description=CellFrame Dashboard Service
After=network.target

[Service]
Type=forking
OOMScoreAdjust=-1000
#PIDFile=/opt/cellframe-dashboard/CellFrameDashboardService.pid
WorkingDirectory=/opt/cellframe-dashboard/
ExecStart=/opt/cellframe-dashboard/bin/CellFrame-DashboardService -D
ExecStop=/opt/cellframe-dashboard/bin/CellFrame-DashboardService --stop
Restart=always

[Install] 
WantedBy=multi-user.target
